* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(90deg, #16bffd 0%, #cb3066 100%);
  min-height: 100vh;
}

.container {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
}

.wave {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}

.container-tex {
  padding-top: 10%;
  padding-left: 40px;
  overflow: hidden;
  color: beige;
}

.titulo {
    font-size: 60px;
}

.subtitulo {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 500;

}

.cta {
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background-color: azure;
    border-radius:  4px;
    text-decoration: none;
    color: #16bffd;
}

.contenedor-imagen {
    padding-top: 10%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.img {
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate {
    0% {
        transform: scale(1);
    }100% {
        transform: scale(1.04);
    }
}

@media screen and (max-width: 800px) {
   .container {
    flex-direction: column-reverse;
   } 
   .wave {
    width: 60%;
   } 
   .contenedor-imagen {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
   }
   .container-tex{
    height: 100%;
   }
   .titulo {
    font-size: 40px;
   }
   .subtitulo {
    font-size: 20px;
   }
   .img {
    height: 90%;
   }
   
}